/*
    Color Palette:
    rgb(238,238,238)
    rgb(221,221,221)
    rgb(204,204,204)
    rgb(187,187,187)
    rgb(154,154,154)
*/

html, body {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    white-space: nowrap;
    background-color: rgb(238,238,238);
}

.button {
    background-color: rgb(221,221,221);
    user-select: none;
    border: solid;
    border-width: 2px;
    padding: 3px;
}

.button:hover {
    background-color: rgb(154,154,154);
}

.progress-bar-empty {
    background-color: rgb(221,221,221);
}

.progress-bar-full {
    background-color: rgb(187,187,187);
}
.modal {
    background-color: rgb(204,204,204);
    border: solid;
    border-width: 1px;
}

.option:hover {
    background-color: rgb(187,187,187);
}

p {
    font-size: 12px;
}